*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #7600bc ;
  --font-light: lightgray;
  --border: gray;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

/* Navigation Bar */

#home {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
}

.menu-list{
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.topmenu {
  color: var(--font-light);
  font-size: 1.3rem;
  text-decoration:none;
}

.topmenu:hover {
  color: white;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}


.profile_name {
 color: var(--font-light);
  /* Add the styles here */
}

.profile_name span{
  font-size: 1.5rem;
}

.profile_name .contact_info {
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.contact_info img {
  width:25px;
}

main{
  padding: 1em;
}

h2 {
  text-align: justify;
  font-size: 2.5rem;
  text-align: left;
  color: var(--primary-color);
  margin: 1em;
}

/* Used in the About Me sections */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
}

#about-me p {
  font-size: 1.3rem;
  color: rgb(128, 128, 128);
  
}

.profile_image {
 width: 90%;
 border-radius: 50%;
 align-self: center;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.skill {
  border: 1px solid var(--border);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px var(--border);
}

.skill img {
  height: 35px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 15px;
  color: var(--border);
  margin-block: 1em;
} 

.skill:hover{
  transform: scale(1.1);
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
display: flex;
flex-direction: column;
gap: 2em;
width: 75%;
margin-inline-start: 4em;
}

.projects-container hr {
  border: 1px solid var(--font-light);
  width: 75%;
  margin-inline-start: 2em;
}

.projects-list{
  padding-inline-start: 2em;
}
.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 1.2rem;
  
}

/* Recommendations */

.all_recommendations {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1.5em;
}

.recommendation {
  font-style: italic;
  text-align: left;
  padding: 1em;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  border:1px solid gray;
  font-size: 1.1rem;
  max-width: 400px;
  
}

.recommendation span {
  color: var(--primary-color);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.recommendation:hover{
  border: solid 2px var(--primary-color);
}

/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;

  .top-button{
    width: 20px;
    
  }
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #e8bcf0;
  border-radius: 5px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  padding: 1em;
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

.introduction{
  font-size: 1.2rem;
  font-weight: 600;
}

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin-block: 1em;
  width:100%;
  padding: 0.3em;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

@media (min-width:850px){
  #home{
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (min-width: 1100px){
  .container{
  flex-direction: row;
}
}